<% stock = Stock.where(code: @code).first %>

<% sds = StockDataInfo.where(quarterly_date: @quarterly_date, stock_id: stock.id) %>
<% sds = sds.joins(:stock_data_item) %>
<% sds = sds.where("stock_data_items.stock_summary_id = ?", 2).where(source: '谷歌财经') %>
<table>
  <th></th><th><%= @quarterly_date %></th>
  <% sds.each do |sd| %>
    <tr>
      <td><%= sd.stock_data_item.name %></td>
      <td><%= sd.value == 0.0 ? '--' : sd.value %></td>
    </tr>
  <% end %>
</table>
